(kicad_sch
  (version 20231120)
  (generator "eeschema")
  (generator_version "8.0")
  (uuid "c66a4f6f-d53a-48ce-bad8-376255087a18")
  (paper "A2")
  (title_block
    (title "SignSpeak Smart Glove")
    (date "2026-07-18")
    (rev "G")
    (company "Man Who Embed")
    (comment 1 "5× flex · ESP32 · UART prog · TP4056 · AMS1117 · MPU-6050 · USB-C")
  )
  (lib_symbols
(symbol "power:GND" (power) (pin_names (offset 0)) (in_bom yes) (on_board yes)
    (property "Reference" "#PWR" (at 0 -6.35 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Value" "GND" (at 0 -3.81 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "global power" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Power symbol creates a global label with name \"GND\" , ground" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "GND_0_1"
      (polyline
        (pts
          (xy 0 0)
          (xy 0 -1.27)
          (xy 1.27 -1.27)
          (xy 0 -2.54)
          (xy -1.27 -1.27)
          (xy 0 -1.27)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
    )
    (symbol "GND_1_1"
      (pin power_in line (at 0 0 270) (length 0) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "power:+3V3" (power) (pin_names (offset 0)) (in_bom yes) (on_board yes)
    (property "Reference" "#PWR" (at 0 -3.81 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Value" "+3V3" (at 0 3.556 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "global power" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Power symbol creates a global label with name \"+3V3\"" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "+3V3_0_1"
      (polyline
        (pts
          (xy -0.762 1.27)
          (xy 0 2.54)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 0)
          (xy 0 2.54)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 2.54)
          (xy 0.762 1.27)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
    )
    (symbol "+3V3_1_1"
      (pin power_in line (at 0 0 90) (length 0) hide
        (name "+3V3" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "power:+5V" (power) (pin_names (offset 0)) (in_bom yes) (on_board yes)
    (property "Reference" "#PWR" (at 0 -3.81 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Value" "+5V" (at 0 3.556 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "global power" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Power symbol creates a global label with name \"+5V\"" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "+5V_0_1"
      (polyline
        (pts
          (xy -0.762 1.27)
          (xy 0 2.54)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 0)
          (xy 0 2.54)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 2.54)
          (xy 0.762 1.27)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
    )
    (symbol "+5V_1_1"
      (pin power_in line (at 0 0 90) (length 0) hide
        (name "+5V" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "power:PWR_FLAG" (power) (pin_numbers hide) (pin_names (offset 0) hide) (in_bom yes) (on_board yes)
    (property "Reference" "#FLG" (at 0 1.905 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Value" "PWR_FLAG" (at 0 3.81 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "flag power" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Special symbol for telling ERC where power comes from" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "PWR_FLAG_0_0"
      (pin power_out line (at 0 0 90) (length 0)
        (name "pwr" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
    )
    (symbol "PWR_FLAG_0_1"
      (polyline
        (pts
          (xy 0 0)
          (xy 0 1.27)
          (xy -1.016 1.905)
          (xy 0 2.54)
          (xy 1.016 1.905)
          (xy 0 1.27)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
    )
  )
(symbol "Device:R" (pin_numbers hide) (pin_names (offset 0)) (in_bom yes) (on_board yes)
    (property "Reference" "R" (at 2.032 0 90)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "R" (at 0 0 90)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at -1.778 0 90)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "R res resistor" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Resistor" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "R_*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "R_0_1"
      (rectangle (start -1.016 -2.54) (end 1.016 2.54)
        (stroke (width 0.254) (type default))
        (fill (type none))
      )
    )
    (symbol "R_1_1"
      (pin passive line (at 0 3.81 270) (length 1.27)
        (name "~" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -3.81 90) (length 1.27)
        (name "~" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Device:C" (pin_numbers hide) (pin_names (offset 0.254)) (in_bom yes) (on_board yes)
    (property "Reference" "C" (at 0.635 2.54 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Value" "C" (at 0.635 -2.54 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Footprint" "" (at 0.9652 -3.81 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "cap capacitor" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Unpolarized capacitor" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "C_*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "C_0_1"
      (polyline
        (pts
          (xy -2.032 -0.762)
          (xy 2.032 -0.762)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -2.032 0.762)
          (xy 2.032 0.762)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
    )
    (symbol "C_1_1"
      (pin passive line (at 0 3.81 270) (length 2.794)
        (name "~" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -3.81 90) (length 2.794)
        (name "~" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Device:LED" (pin_numbers hide) (pin_names (offset 1.016) hide) (in_bom yes) (on_board yes)
    (property "Reference" "D" (at 0 2.54 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "LED" (at 0 -2.54 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "LED diode" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Light emitting diode" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "LED* LED_SMD:* LED_THT:*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "LED_0_1"
      (polyline
        (pts
          (xy -1.27 -1.27)
          (xy -1.27 1.27)
        )
        (stroke (width 0.254) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -1.27 0)
          (xy 1.27 0)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 1.27 -1.27)
          (xy 1.27 1.27)
          (xy -1.27 0)
          (xy 1.27 -1.27)
        )
        (stroke (width 0.254) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -3.048 -0.762)
          (xy -4.572 -2.286)
          (xy -3.81 -2.286)
          (xy -4.572 -2.286)
          (xy -4.572 -1.524)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -1.778 -0.762)
          (xy -3.302 -2.286)
          (xy -2.54 -2.286)
          (xy -3.302 -2.286)
          (xy -3.302 -1.524)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
    )
    (symbol "LED_1_1"
      (pin passive line (at -3.81 0 0) (length 2.54)
        (name "K" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 3.81 0 180) (length 2.54)
        (name "A" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Switch:SW_Push" (pin_numbers hide) (pin_names (offset 1.016) hide) (in_bom yes) (on_board yes)
    (property "Reference" "SW" (at 1.27 2.54 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Value" "SW_Push" (at 0 -1.524 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 5.08 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 5.08 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "switch normally-open pushbutton push-button" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Push button switch, generic, two pins" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "SW_Push_0_1"
      (circle (center -2.032 0) (radius 0.508)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 1.27)
          (xy 0 3.048)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 2.54 1.27)
          (xy -2.54 1.27)
        )
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (circle (center 2.032 0) (radius 0.508)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (pin passive line (at -5.08 0 0) (length 2.54)
        (name "1" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 5.08 0 180) (length 2.54)
        (name "2" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Connector_Generic:Conn_01x07" (pin_names (offset 1.016) hide) (in_bom yes) (on_board yes)
    (property "Reference" "J" (at 0 10.16 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "Conn_01x07" (at 0 -10.16 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "connector" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Generic connector, single row, 01x07, script generated (kicad-library-utils/schlib/autogen/connector/)" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "Connector*:*_1x??_*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "Conn_01x07_1_1"
      (rectangle (start -1.27 -7.493) (end 0 -7.747)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 -4.953) (end 0 -5.207)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 -2.413) (end 0 -2.667)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 0.127) (end 0 -0.127)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 2.667) (end 0 2.413)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 5.207) (end 0 4.953)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 7.747) (end 0 7.493)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 8.89) (end 1.27 -8.89)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
      (pin passive line (at -5.08 7.62 0) (length 3.81)
        (name "Pin_1" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 5.08 0) (length 3.81)
        (name "Pin_2" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 2.54 0) (length 3.81)
        (name "Pin_3" (effects (font (size 1.27 1.27))))
        (number "3" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 0 0) (length 3.81)
        (name "Pin_4" (effects (font (size 1.27 1.27))))
        (number "4" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 -2.54 0) (length 3.81)
        (name "Pin_5" (effects (font (size 1.27 1.27))))
        (number "5" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 -5.08 0) (length 3.81)
        (name "Pin_6" (effects (font (size 1.27 1.27))))
        (number "6" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 -7.62 0) (length 3.81)
        (name "Pin_7" (effects (font (size 1.27 1.27))))
        (number "7" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Connector_Generic:Conn_01x04" (pin_names (offset 1.016) hide) (in_bom yes) (on_board yes)
    (property "Reference" "J" (at 0 5.08 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "Conn_01x04" (at 0 -7.62 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "connector" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Generic connector, single row, 01x04, script generated (kicad-library-utils/schlib/autogen/connector/)" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "Connector*:*_1x??_*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "Conn_01x04_1_1"
      (rectangle (start -1.27 -4.953) (end 0 -5.207)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 -2.413) (end 0 -2.667)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 0.127) (end 0 -0.127)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 2.667) (end 0 2.413)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 3.81) (end 1.27 -6.35)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
      (pin passive line (at -5.08 2.54 0) (length 3.81)
        (name "Pin_1" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 0 0) (length 3.81)
        (name "Pin_2" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 -2.54 0) (length 3.81)
        (name "Pin_3" (effects (font (size 1.27 1.27))))
        (number "3" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 -5.08 0) (length 3.81)
        (name "Pin_4" (effects (font (size 1.27 1.27))))
        (number "4" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Connector_Generic:Conn_01x02" (pin_names (offset 1.016) hide) (in_bom yes) (on_board yes)
    (property "Reference" "J" (at 0 2.54 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "Conn_01x02" (at 0 -5.08 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "~" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "connector" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "Generic connector, single row, 01x02, script generated (kicad-library-utils/schlib/autogen/connector/)" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "Connector*:*_1x??_*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "Conn_01x02_1_1"
      (rectangle (start -1.27 -2.413) (end 0 -2.667)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 0.127) (end 0 -0.127)
        (stroke (width 0.1524) (type default))
        (fill (type none))
      )
      (rectangle (start -1.27 1.27) (end 1.27 -3.81)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
      (pin passive line (at -5.08 0 0) (length 3.81)
        (name "Pin_1" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -5.08 -2.54 0) (length 3.81)
        (name "Pin_2" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Connector:USB_C_Receptacle" (pin_names (offset 1.016)) (in_bom yes) (on_board yes)
    (property "Reference" "J" (at -10.16 29.21 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Value" "USB_C_Receptacle" (at 10.16 29.21 0)
      (effects (font (size 1.27 1.27)) (justify right))
    )
    (property "Footprint" "" (at 3.81 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "https://www.usb.org/sites/default/files/documents/usb_type-c.zip" (at 3.81 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "usb universal serial bus type-C full-featured" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "USB Full-Featured Type-C Receptacle connector" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "USB*C*Receptacle*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "USB_C_Receptacle_0_0"
      (rectangle (start -0.254 -35.56) (end 0.254 -34.544)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -32.766) (end 9.144 -33.274)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -30.226) (end 9.144 -30.734)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -25.146) (end 9.144 -25.654)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -22.606) (end 9.144 -23.114)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -17.526) (end 9.144 -18.034)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -14.986) (end 9.144 -15.494)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -9.906) (end 9.144 -10.414)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -7.366) (end 9.144 -7.874)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 -2.286) (end 9.144 -2.794)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 0.254) (end 9.144 -0.254)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 5.334) (end 9.144 4.826)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 7.874) (end 9.144 7.366)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 10.414) (end 9.144 9.906)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 12.954) (end 9.144 12.446)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 18.034) (end 9.144 17.526)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 20.574) (end 9.144 20.066)
        (stroke (width 0) (type default))
        (fill (type none))
      )
      (rectangle (start 10.16 25.654) (end 9.144 25.146)
        (stroke (width 0) (type default))
        (fill (type none))
      )
    )
    (symbol "USB_C_Receptacle_0_1"
      (rectangle (start -10.16 27.94) (end 10.16 -35.56)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
      (arc (start -8.89 -3.81) (mid -6.985 -5.7067) (end -5.08 -3.81)
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (arc (start -7.62 -3.81) (mid -6.985 -4.4423) (end -6.35 -3.81)
        (stroke (width 0.254) (type default))
        (fill (type none))
      )
      (arc (start -7.62 -3.81) (mid -6.985 -4.4423) (end -6.35 -3.81)
        (stroke (width 0.254) (type default))
        (fill (type outline))
      )
      (rectangle (start -7.62 -3.81) (end -6.35 3.81)
        (stroke (width 0.254) (type default))
        (fill (type outline))
      )
      (arc (start -6.35 3.81) (mid -6.985 4.4423) (end -7.62 3.81)
        (stroke (width 0.254) (type default))
        (fill (type none))
      )
      (arc (start -6.35 3.81) (mid -6.985 4.4423) (end -7.62 3.81)
        (stroke (width 0.254) (type default))
        (fill (type outline))
      )
      (arc (start -5.08 3.81) (mid -6.985 5.7067) (end -8.89 3.81)
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -8.89 -3.81)
          (xy -8.89 3.81)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -5.08 3.81)
          (xy -5.08 -3.81)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
    )
    (symbol "USB_C_Receptacle_1_1"
      (circle (center -2.54 1.143) (radius 0.635)
        (stroke (width 0.254) (type default))
        (fill (type outline))
      )
      (circle (center 0 -5.842) (radius 1.27)
        (stroke (width 0) (type default))
        (fill (type outline))
      )
      (polyline
        (pts
          (xy 0 -5.842)
          (xy 0 4.318)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 -3.302)
          (xy -2.54 -0.762)
          (xy -2.54 0.508)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy 0 -2.032)
          (xy 2.54 0.508)
          (xy 2.54 1.778)
        )
        (stroke (width 0.508) (type default))
        (fill (type none))
      )
      (polyline
        (pts
          (xy -1.27 4.318)
          (xy 0 6.858)
          (xy 1.27 4.318)
          (xy -1.27 4.318)
        )
        (stroke (width 0.254) (type default))
        (fill (type outline))
      )
      (rectangle (start 1.905 1.778) (end 3.175 3.048)
        (stroke (width 0.254) (type default))
        (fill (type outline))
      )
      (pin passive line (at 0 -40.64 90) (length 5.08)
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "A1" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -15.24 180) (length 5.08)
        (name "RX2-" (effects (font (size 1.27 1.27))))
        (number "A10" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -17.78 180) (length 5.08)
        (name "RX2+" (effects (font (size 1.27 1.27))))
        (number "A11" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -40.64 90) (length 5.08) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "A12" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -10.16 180) (length 5.08)
        (name "TX1+" (effects (font (size 1.27 1.27))))
        (number "A2" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -7.62 180) (length 5.08)
        (name "TX1-" (effects (font (size 1.27 1.27))))
        (number "A3" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 15.24 25.4 180) (length 5.08)
        (name "VBUS" (effects (font (size 1.27 1.27))))
        (number "A4" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 20.32 180) (length 5.08)
        (name "CC1" (effects (font (size 1.27 1.27))))
        (number "A5" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 7.62 180) (length 5.08)
        (name "D+" (effects (font (size 1.27 1.27))))
        (number "A6" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 12.7 180) (length 5.08)
        (name "D-" (effects (font (size 1.27 1.27))))
        (number "A7" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -30.48 180) (length 5.08)
        (name "SBU1" (effects (font (size 1.27 1.27))))
        (number "A8" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 15.24 25.4 180) (length 5.08) hide
        (name "VBUS" (effects (font (size 1.27 1.27))))
        (number "A9" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -40.64 90) (length 5.08) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "B1" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 0 180) (length 5.08)
        (name "RX1-" (effects (font (size 1.27 1.27))))
        (number "B10" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -2.54 180) (length 5.08)
        (name "RX1+" (effects (font (size 1.27 1.27))))
        (number "B11" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -40.64 90) (length 5.08) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "B12" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -25.4 180) (length 5.08)
        (name "TX2+" (effects (font (size 1.27 1.27))))
        (number "B2" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -22.86 180) (length 5.08)
        (name "TX2-" (effects (font (size 1.27 1.27))))
        (number "B3" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 15.24 25.4 180) (length 5.08) hide
        (name "VBUS" (effects (font (size 1.27 1.27))))
        (number "B4" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 17.78 180) (length 5.08)
        (name "CC2" (effects (font (size 1.27 1.27))))
        (number "B5" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 5.08 180) (length 5.08)
        (name "D+" (effects (font (size 1.27 1.27))))
        (number "B6" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 10.16 180) (length 5.08)
        (name "D-" (effects (font (size 1.27 1.27))))
        (number "B7" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -33.02 180) (length 5.08)
        (name "SBU2" (effects (font (size 1.27 1.27))))
        (number "B8" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 15.24 25.4 180) (length 5.08) hide
        (name "VBUS" (effects (font (size 1.27 1.27))))
        (number "B9" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at -7.62 -40.64 90) (length 5.08)
        (name "SHIELD" (effects (font (size 1.27 1.27))))
        (number "S1" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "RF_Module:ESP32-WROOM-32E" (in_bom yes) (on_board yes)
    (property "Reference" "U" (at -12.7 34.29 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Value" "ESP32-WROOM-32E" (at 1.27 34.29 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Footprint" "RF_Module:ESP32-WROOM-32D" (at 16.51 -34.29 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "https://www.espressif.com/sites/default/files/documentation/esp32-wroom-32e_esp32-wroom-32ue_datasheet_en.pdf" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "RF Radio BT ESP ESP32 Espressif onboard PCB antenna" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "RF Module, ESP32-D0WD-V3 SoC, without PSRAM, Wi-Fi 802.11b/g/n, Bluetooth, BLE, 32-bit, 2.7-3.6V, onboard antenna, SMD" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "ESP32?WROOM?32D*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "ESP32-WROOM-32E_0_1"
      (rectangle (start -12.7 33.02) (end 12.7 -33.02)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
    )
    (symbol "ESP32-WROOM-32E_1_1"
      (pin power_in line (at 0 -35.56 90) (length 2.54)
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -12.7 180) (length 2.54)
        (name "IO25" (effects (font (size 1.27 1.27))))
        (number "10" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -15.24 180) (length 2.54)
        (name "IO26" (effects (font (size 1.27 1.27))))
        (number "11" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -17.78 180) (length 2.54)
        (name "IO27" (effects (font (size 1.27 1.27))))
        (number "12" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 10.16 180) (length 2.54)
        (name "IO14" (effects (font (size 1.27 1.27))))
        (number "13" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 15.24 180) (length 2.54)
        (name "IO12" (effects (font (size 1.27 1.27))))
        (number "14" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -35.56 90) (length 2.54) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "15" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 12.7 180) (length 2.54)
        (name "IO13" (effects (font (size 1.27 1.27))))
        (number "16" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -5.08 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "17" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -7.62 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "18" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -12.7 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "19" (effects (font (size 1.27 1.27))))
      )
      (pin power_in line (at 0 35.56 270) (length 2.54)
        (name "VDD" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -10.16 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "20" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 0 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "21" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -2.54 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "22" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 7.62 180) (length 2.54)
        (name "IO15" (effects (font (size 1.27 1.27))))
        (number "23" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 25.4 180) (length 2.54)
        (name "IO2" (effects (font (size 1.27 1.27))))
        (number "24" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 30.48 180) (length 2.54)
        (name "IO0" (effects (font (size 1.27 1.27))))
        (number "25" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 20.32 180) (length 2.54)
        (name "IO4" (effects (font (size 1.27 1.27))))
        (number "26" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 5.08 180) (length 2.54)
        (name "IO16" (effects (font (size 1.27 1.27))))
        (number "27" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 2.54 180) (length 2.54)
        (name "IO17" (effects (font (size 1.27 1.27))))
        (number "28" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 17.78 180) (length 2.54)
        (name "IO5" (effects (font (size 1.27 1.27))))
        (number "29" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at -15.24 30.48 0) (length 2.54)
        (name "EN" (effects (font (size 1.27 1.27))))
        (number "3" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 0 180) (length 2.54)
        (name "IO18" (effects (font (size 1.27 1.27))))
        (number "30" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -2.54 180) (length 2.54)
        (name "IO19" (effects (font (size 1.27 1.27))))
        (number "31" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -27.94 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "32" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -5.08 180) (length 2.54)
        (name "IO21" (effects (font (size 1.27 1.27))))
        (number "33" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 22.86 180) (length 2.54)
        (name "RXD0/IO3" (effects (font (size 1.27 1.27))))
        (number "34" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 27.94 180) (length 2.54)
        (name "TXD0/IO1" (effects (font (size 1.27 1.27))))
        (number "35" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -7.62 180) (length 2.54)
        (name "IO22" (effects (font (size 1.27 1.27))))
        (number "36" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -10.16 180) (length 2.54)
        (name "IO23" (effects (font (size 1.27 1.27))))
        (number "37" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -35.56 90) (length 2.54) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "38" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 0 -35.56 90) (length 2.54) hide
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "39" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at -15.24 25.4 0) (length 2.54)
        (name "SENSOR_VP" (effects (font (size 1.27 1.27))))
        (number "4" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at -15.24 22.86 0) (length 2.54)
        (name "SENSOR_VN" (effects (font (size 1.27 1.27))))
        (number "5" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at 15.24 -25.4 180) (length 2.54)
        (name "IO34" (effects (font (size 1.27 1.27))))
        (number "6" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at 15.24 -27.94 180) (length 2.54)
        (name "IO35" (effects (font (size 1.27 1.27))))
        (number "7" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -20.32 180) (length 2.54)
        (name "IO32" (effects (font (size 1.27 1.27))))
        (number "8" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 15.24 -22.86 180) (length 2.54)
        (name "IO33" (effects (font (size 1.27 1.27))))
        (number "9" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Device:AMS1117-3.3" (in_bom yes) (on_board yes)
    (property "Reference" "U" (at -3.81 3.175 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "AMS1117-3.3" (at 0 3.175 0)
      (effects (font (size 1.27 1.27)) (justify left))
    )
    (property "Footprint" "Package_TO_SOT_SMD:SOT-223-3_TabPin2" (at 0 5.08 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "http://www.diodes.com/datasheets/AP1117.pdf" (at 2.54 -6.35 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "linear regulator ldo fixed positive obsolete" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "1A Low Dropout regulator, positive, 1.5V fixed output, SOT-223" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "SOT?223*TabPin2*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "AMS1117-3.3_0_1"
      (rectangle (start -5.08 -5.08) (end 5.08 1.905)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
    )
    (symbol "AMS1117-3.3_1_1"
      (pin power_in line (at 0 -7.62 90) (length 2.54)
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin power_out line (at 7.62 0 180) (length 2.54)
        (name "VO" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
      (pin power_in line (at -7.62 0 0) (length 2.54)
        (name "VI" (effects (font (size 1.27 1.27))))
        (number "3" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Sensor_Motion:MPU-6050" (in_bom yes) (on_board yes)
    (property "Reference" "U" (at -11.43 13.97 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Value" "MPU-6050" (at 7.62 -15.24 0)
      (effects (font (size 1.27 1.27)))
    )
    (property "Footprint" "Sensor_Motion:InvenSense_QFN-24_4x4mm_P0.5mm" (at 0 -20.32 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "Datasheet" "https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf" (at 0 -3.81 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_keywords" "mems" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_description" "InvenSense 6-Axis Motion Sensor, Gyroscope, Accelerometer, I2C" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (property "ki_fp_filters" "*QFN*4x4mm*P0.5mm*" (at 0 0 0)
      (effects (font (size 1.27 1.27)) hide)
    )
    (symbol "MPU-6050_0_0"
      (text "" (at 12.7 -2.54 0)
        (effects (font (size 1.27 1.27)))
      )
    )
    (symbol "MPU-6050_0_1"
      (rectangle (start -12.7 13.97) (end 12.7 -13.97)
        (stroke (width 0.254) (type default))
        (fill (type background))
      )
    )
    (symbol "MPU-6050_1_1"
      (pin input clock (at -17.78 -7.62 0) (length 5.08)
        (name "CLKIN" (effects (font (size 1.27 1.27))))
        (number "1" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 17.78 -7.62 180) (length 5.08)
        (name "REGOUT" (effects (font (size 1.27 1.27))))
        (number "10" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at -17.78 -5.08 0) (length 5.08)
        (name "FSYNC" (effects (font (size 1.27 1.27))))
        (number "11" (effects (font (size 1.27 1.27))))
      )
      (pin output line (at 17.78 7.62 180) (length 5.08)
        (name "INT" (effects (font (size 1.27 1.27))))
        (number "12" (effects (font (size 1.27 1.27))))
      )
      (pin power_in line (at 2.54 17.78 270) (length 3.81)
        (name "VDD" (effects (font (size 1.27 1.27))))
        (number "13" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -10.16 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "14" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at 12.7 12.7 180) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "15" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at 12.7 10.16 180) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "16" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at 12.7 5.08 180) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "17" (effects (font (size 1.27 1.27))))
      )
      (pin power_in line (at 0 -17.78 90) (length 3.81)
        (name "GND" (effects (font (size 1.27 1.27))))
        (number "18" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at 12.7 -10.16 180) (length 2.54) hide
        (name "RESV" (effects (font (size 1.27 1.27))))
        (number "19" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 12.7 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "2" (effects (font (size 1.27 1.27))))
      )
      (pin passive line (at 17.78 -5.08 180) (length 5.08)
        (name "CPOUT" (effects (font (size 1.27 1.27))))
        (number "20" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at 12.7 -2.54 180) (length 2.54) hide
        (name "RESV" (effects (font (size 1.27 1.27))))
        (number "21" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at 12.7 -12.7 180) (length 2.54) hide
        (name "RESV" (effects (font (size 1.27 1.27))))
        (number "22" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at -17.78 5.08 0) (length 5.08)
        (name "SCL" (effects (font (size 1.27 1.27))))
        (number "23" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at -17.78 7.62 0) (length 5.08)
        (name "SDA" (effects (font (size 1.27 1.27))))
        (number "24" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 10.16 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "3" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 0 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "4" (effects (font (size 1.27 1.27))))
      )
      (pin no_connect line (at -12.7 -2.54 0) (length 2.54) hide
        (name "NC" (effects (font (size 1.27 1.27))))
        (number "5" (effects (font (size 1.27 1.27))))
      )
      (pin bidirectional line (at 17.78 2.54 180) (length 5.08)
        (name "AUX_DA" (effects (font (size 1.27 1.27))))
        (number "6" (effects (font (size 1.27 1.27))))
      )
      (pin output clock (at 17.78 0 180) (length 5.08)
        (name "AUX_CL" (effects (font (size 1.27 1.27))))
        (number "7" (effects (font (size 1.27 1.27))))
      )
      (pin power_in line (at -2.54 17.78 270) (length 3.81)
        (name "VLOGIC" (effects (font (size 1.27 1.27))))
        (number "8" (effects (font (size 1.27 1.27))))
      )
      (pin input line (at -17.78 2.54 0) (length 5.08)
        (name "AD0" (effects (font (size 1.27 1.27))))
        (number "9" (effects (font (size 1.27 1.27))))
      )
    )
  )
(symbol "Device:TP4056" (pin_names (offset 1.016)) (in_bom yes) (on_board yes)
    (property "Reference" "U" (at -7.62 8.89 0) (effects (font (size 1.27 1.27))))
    (property "Value" "TP4056" (at -7.62 6.35 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Package_SO:SOIC-8_3.9x4.9mm_P1.27mm" (at 0 0 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 0 0 0) (effects (font (size 1.27 1.27)) hide))
    (symbol "TP4056_0_1"
      (rectangle (start -7.62 5.08) (end 7.62 -5.08)
        (stroke (width 0.254) (type default)) (fill (type background)))
    )
    (symbol "TP4056_1_1"
      (pin passive line (at -10.16 2.54 0) (length 2.54) (name "TEMP" (effects (font (size 1.27 1.27)))) (number "1" (effects (font (size 1.27 1.27)))))
      (pin passive line (at -10.16 0 0) (length 2.54) (name "PROG" (effects (font (size 1.27 1.27)))) (number "2" (effects (font (size 1.27 1.27)))))
      (pin power_in line (at -10.16 -2.54 0) (length 2.54) (name "GND" (effects (font (size 1.27 1.27)))) (number "3" (effects (font (size 1.27 1.27)))))
      (pin power_in line (at -10.16 -5.08 0) (length 2.54) (name "VCC" (effects (font (size 1.27 1.27)))) (number "4" (effects (font (size 1.27 1.27)))))
      (pin power_out line (at 10.16 -2.54 180) (length 2.54) (name "BAT" (effects (font (size 1.27 1.27)))) (number "5" (effects (font (size 1.27 1.27)))))
      (pin passive line (at 10.16 0 180) (length 2.54) (name "STDBY" (effects (font (size 1.27 1.27)))) (number "6" (effects (font (size 1.27 1.27)))))
      (pin passive line (at 10.16 2.54 180) (length 2.54) (name "CHRG" (effects (font (size 1.27 1.27)))) (number "7" (effects (font (size 1.27 1.27)))))
      (pin passive line (at 10.16 5.08 180) (length 2.54) (name "CE" (effects (font (size 1.27 1.27)))) (number "8" (effects (font (size 1.27 1.27)))))
    )
  )
  )
  (text "SignSpeak Smart Glove — Complete Schematic (Rev G)" (exclude_from_sim no) (at 25.4 12.7 0) (effects (font (size 2.54 2.54)) (justify left))
    (uuid "ebbd302c-c7f2-465a-b45b-a834f13d3cdf")
  )
  (text "Man Who Embed · USB-C · UART · TP4056 · AMS1117 · ESP32 · MPU-6050 · 5× Flex" (exclude_from_sim no) (at 25.4 16.51 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "ba8e73ac-ce36-498d-8994-842664bb73c6")
  )
  (text "1) USB-C Power/CC" (exclude_from_sim no) (at 25.4 25.4 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "f28bd359-6ca1-4f57-90aa-ce4456ef2bdd")
  )
  (symbol (lib_id "Connector:USB_C_Receptacle") (at 55.88 60.96 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "0f5d6042-effd-4522-9b45-a52e6745178e")
    (property "Reference" "J1" (at 55.88 66.04 0) (effects (font (size 1.27 1.27))))
    (property "Value" "USB-C" (at 55.88 63.5 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Connector_USB:USB_C_Receptacle_HRO_TYPE-C-31-M-12" (at 55.88 60.96 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 55.88 60.96 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "+5V" (shape passive) (at 71.12 35.56 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "410c5693-ac67-4993-b2e0-27fd95ff63b3")
  )
  (global_label "+5V" (shape passive) (at 71.12 35.56 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "b23e43cf-1641-4e49-8d0d-2dfc9251f468")
  )
  (global_label "+5V" (shape passive) (at 71.12 35.56 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "e13af184-8ba1-4859-8c23-3d1b2c58a147")
  )
  (global_label "+5V" (shape passive) (at 71.12 35.56 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "fdd16072-4d9d-4b6b-aabf-2f26a36aaaf7")
  )
  (global_label "CC1" (shape passive) (at 71.12 40.64 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "16f8c3ca-1358-470e-942d-7f2b21fbc833")
  )
  (global_label "CC2" (shape passive) (at 71.12 43.18 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "802856eb-e7d8-4a0f-ae0a-e7f15b7a0f6a")
  )
  (global_label "GND" (shape passive) (at 55.88 101.6 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "6b7e27a7-673c-4930-a77f-12d3cd2c7543")
  )
  (global_label "GND" (shape passive) (at 55.88 101.6 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "3dbf534a-51ab-4107-8075-a6fc3cd96909")
  )
  (global_label "GND" (shape passive) (at 55.88 101.6 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "7adeab26-3501-4b53-9825-3d6c5b868746")
  )
  (global_label "GND" (shape passive) (at 55.88 101.6 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "68494162-22ec-4686-9717-5c45542c78c9")
  )
  (global_label "GND" (shape passive) (at 48.26 101.6 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "1d72c536-25cf-42d2-9667-c10571d71259")
  )
  (no_connect (at 71.12 71.12) (uuid "97cf3c7b-3949-4b83-bcc2-7dbd508423b8"))
  (no_connect (at 71.12 68.58) (uuid "29849fc9-0088-4b7b-b73b-cc0a1933ee6c"))
  (no_connect (at 71.12 53.34) (uuid "096564dc-62fd-41bd-9ae6-9f2cc972a192"))
  (no_connect (at 71.12 48.26) (uuid "cf0be280-b886-4593-84a9-fa0a4b544799"))
  (no_connect (at 71.12 91.44) (uuid "c3ae3010-4cc4-45f2-ba03-21aaa2d7fef3"))
  (no_connect (at 71.12 76.2) (uuid "321f6716-4364-409a-84f6-8344c2eb668e"))
  (no_connect (at 71.12 78.74) (uuid "871f28f4-9441-4d6c-a9e9-e0d1d3df75c4"))
  (no_connect (at 71.12 86.36) (uuid "ab003f61-8db7-4130-b640-c237788b710f"))
  (no_connect (at 71.12 83.82) (uuid "c2aec203-6924-4ec6-acd5-a373e720afed"))
  (no_connect (at 71.12 55.88) (uuid "ea683b6f-a42e-4b6a-af0b-a03502750146"))
  (no_connect (at 71.12 50.8) (uuid "97ae38cd-a657-4685-a208-c50596c584e1"))
  (no_connect (at 71.12 93.98) (uuid "54833d50-b75e-415d-aa23-dfa489bd70de"))
  (no_connect (at 71.12 60.96) (uuid "70c7bf4e-774a-4174-818d-efa90626c1bc"))
  (no_connect (at 71.12 63.5) (uuid "9cbd36d3-443b-47c3-b239-1e51c5b73a7d"))
  (symbol (lib_id "Device:R") (at 95.25 40.64 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "e5895f64-df55-43cc-88fc-e3be28ec0b7b")
    (property "Reference" "R6" (at 95.25 45.72 0) (effects (font (size 1.27 1.27))))
    (property "Value" "5.1k" (at 95.25 43.18 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 95.25 40.64 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 95.25 40.64 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "CC1" (shape passive) (at 95.25 36.83 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "92afd9c2-0420-41b4-a710-dcb6d8726a8a")
  )
  (symbol (lib_id "power:GND") (at 95.25 44.45 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "135a07ca-6150-4ac6-96cd-614aba27ac53")
    (property "Reference" "#PWR_R6" (at 95.25 46.99 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 95.25 41.91 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 95.25 44.45 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 95.25 44.45 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:R") (at 106.68 40.64 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "eba7a86c-066d-46bf-b374-7c2d24ea725a")
    (property "Reference" "R7" (at 106.68 45.72 0) (effects (font (size 1.27 1.27))))
    (property "Value" "5.1k" (at 106.68 43.18 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 106.68 40.64 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 106.68 40.64 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "CC2" (shape passive) (at 106.68 36.83 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "994a9c76-228f-4d62-94db-7c94794cfdf7")
  )
  (symbol (lib_id "power:GND") (at 106.68 44.45 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "d0b06729-34bc-4b1a-abeb-1f585f409bfc")
    (property "Reference" "#PWR_R7" (at 106.68 46.99 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 106.68 41.91 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 106.68 44.45 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 106.68 44.45 0) (effects (font (size 1.27 1.27)) hide))
  )
  (text "2) LiPo Charger (TP4056)" (exclude_from_sim no) (at 129.54 25.4 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "795cd28c-4037-432c-b936-b7582d98fa0f")
  )
  (symbol (lib_id "Device:TP4056") (at 152.4 50.8 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "f49a98eb-5a9a-43f6-9a40-e38c660d20b3")
    (property "Reference" "U2" (at 152.4 55.88 0) (effects (font (size 1.27 1.27))))
    (property "Value" "TP4056" (at 152.4 53.34 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Package_SO:SOIC-8_3.9x4.9mm_P1.27mm" (at 152.4 50.8 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 152.4 50.8 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "GND" (shape passive) (at 142.24 48.26 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "e97379d2-f393-4714-a4b0-afd2bf5d7fb7")
  )
  (global_label "TP_PROG" (shape passive) (at 142.24 50.8 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "1f14ebea-8fc8-4703-84fe-f04557455ab5")
  )
  (global_label "GND" (shape passive) (at 142.24 53.34 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "ac354506-5890-43c2-b9ce-c01a14fad8fb")
  )
  (global_label "+5V" (shape passive) (at 142.24 55.88 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "db6bc739-a891-4c0f-9be5-37a0f43a830c")
  )
  (global_label "+BAT" (shape passive) (at 162.56 53.34 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "d9dc6484-c9b6-487e-8f95-f133af154b09")
  )
  (no_connect (at 162.56 50.8) (uuid "156bbdea-9bcd-4a56-80cf-81d3047932da"))
  (global_label "CHRG" (shape passive) (at 162.56 48.26 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "66f9e6e6-ee55-40c7-bf24-73d6a56c10ef")
  )
  (global_label "+5V" (shape passive) (at 162.56 45.72 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "5ad4323d-92a1-402c-b150-93776a69a56b")
  )
  (symbol (lib_id "Device:R") (at 180.34 50.8 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "d98ffaab-7f53-4898-a862-69c3a5abbeba")
    (property "Reference" "R8" (at 180.34 55.88 0) (effects (font (size 1.27 1.27))))
    (property "Value" "1.2k" (at 180.34 53.34 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 180.34 50.8 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 180.34 50.8 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "TP_PROG" (shape passive) (at 180.34 46.99 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "b6e65558-5eb1-4726-8811-8015da16e462")
  )
  (symbol (lib_id "power:GND") (at 180.34 54.61 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "81e0fd45-62a4-42d4-8aa7-d2a92ba441ad")
    (property "Reference" "#PWR_R8" (at 180.34 57.15 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 180.34 52.07 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 180.34 54.61 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 180.34 54.61 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:LED") (at 195.58 45.72 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "07d48862-3417-4bdf-8090-e1cb4c5a8c2d")
    (property "Reference" "D2" (at 195.58 50.8 0) (effects (font (size 1.27 1.27))))
    (property "Value" "LED-CHRG" (at 195.58 48.26 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "LED_SMD:LED_0603_1608Metric" (at 195.58 45.72 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 195.58 45.72 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "CHRG" (shape passive) (at 191.77 45.72 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "c78f1620-9d5d-4cf6-a207-1ae73b0fea59")
  )
  (global_label "+5V" (shape passive) (at 199.39 45.72 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "a9bc5b03-f03a-4141-81df-00ca1e745bdc")
  )
  (symbol (lib_id "Connector_Generic:Conn_01x02") (at 215.9 55.88 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "d8452ecf-6d5d-41db-9a2a-7304ee9671d1")
    (property "Reference" "J3" (at 215.9 60.96 0) (effects (font (size 1.27 1.27))))
    (property "Value" "LiPo" (at 215.9 58.42 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Connector_JST:JST_PH_B2B-PH-K_1x02_P2.00mm_Vertical" (at 215.9 55.88 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 215.9 55.88 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "+BAT" (shape passive) (at 210.82 55.88 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "e3a6393a-7c12-48c3-913b-24875c8a22c5")
  )
  (global_label "GND" (shape passive) (at 210.82 58.42 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "ffbe6635-d70a-418e-b48d-1b4782ecfa16")
  )
  (text "3) 3.3V Regulator (AMS1117)" (exclude_from_sim no) (at 25.4 110.49 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "9cc6ae01-7d7f-4965-88fa-eab0187efdc5")
  )
  (symbol (lib_id "Device:AMS1117-3.3") (at 50.8 129.54 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "d37c01ae-60e1-42cb-a1ac-8bbcd646bd6a")
    (property "Reference" "U3" (at 50.8 134.62 0) (effects (font (size 1.27 1.27))))
    (property "Value" "AMS1117-3.3" (at 50.8 132.08 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Package_TO_SOT_SMD:SOT-223" (at 50.8 129.54 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 50.8 129.54 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "GND" (shape passive) (at 50.8 137.16 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "57eaee0a-36b6-44f2-889a-536cdf32a4fb")
  )
  (global_label "3V3" (shape passive) (at 58.42 129.54 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "98381b7f-7657-4f03-a4dd-d7d25f15c279")
  )
  (global_label "+BAT" (shape passive) (at 43.18 129.54 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "abda3d81-490e-4bac-89fa-33938ca65162")
  )
  (symbol (lib_id "Device:C") (at 74.93 129.54 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "94165ec3-a4d2-48c9-9814-8eb3495ed88b")
    (property "Reference" "C5" (at 74.93 134.62 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10uF" (at 74.93 132.08 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0805_2012Metric" (at 74.93 129.54 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 74.93 129.54 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "+BAT" (shape passive) (at 74.93 125.73 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "58265392-5fe2-4537-a094-3f6c0fc4a0f0")
  )
  (symbol (lib_id "power:GND") (at 74.93 133.35 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "7a8fc854-bec7-4a11-8447-8e3a9fc51f69")
    (property "Reference" "#PWR_C5" (at 74.93 135.89 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 74.93 130.81 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 74.93 133.35 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 74.93 133.35 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:C") (at 90.17 129.54 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "1583327c-3cee-4c72-a032-d1a429ac778d")
    (property "Reference" "C6" (at 90.17 134.62 0) (effects (font (size 1.27 1.27))))
    (property "Value" "22uF" (at 90.17 132.08 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0805_2012Metric" (at 90.17 129.54 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 90.17 129.54 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 90.17 125.73 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "9e199464-f26a-4575-a86a-aea2e886b527")
  )
  (symbol (lib_id "power:GND") (at 90.17 133.35 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "35ea283f-8467-46e9-a967-3e3c3adc7289")
    (property "Reference" "#PWR_C6" (at 90.17 135.89 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 90.17 130.81 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 90.17 133.35 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 90.17 133.35 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:C") (at 105.41 129.54 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "419ed965-84db-4c13-82ff-e0fc949eaaa9")
    (property "Reference" "C7" (at 105.41 134.62 0) (effects (font (size 1.27 1.27))))
    (property "Value" "100nF" (at 105.41 132.08 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0603_1608Metric" (at 105.41 129.54 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 105.41 129.54 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 105.41 125.73 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "4aaff55c-4094-40cb-b072-7d166bdad464")
  )
  (symbol (lib_id "power:GND") (at 105.41 133.35 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "148b56c3-d25f-4c02-b385-f111a408b9ea")
    (property "Reference" "#PWR_C7" (at 105.41 135.89 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 105.41 130.81 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 105.41 133.35 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 105.41 133.35 0) (effects (font (size 1.27 1.27)) hide))
  )
  (text "4) ESP32-WROOM-32E" (exclude_from_sim no) (at 129.54 110.49 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "163c52c5-7a9d-401c-98c0-2a4e017f7e6c")
  )
  (symbol (lib_id "RF_Module:ESP32-WROOM-32E") (at 180.34 144.78 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "40d38238-a424-4eb1-bff8-d47e727bae57")
    (property "Reference" "U1" (at 180.34 149.86 0) (effects (font (size 1.27 1.27))))
    (property "Value" "ESP32-WROOM-32E" (at 180.34 147.32 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "RF_Module:ESP32-WROOM-32" (at 180.34 144.78 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 180.34 144.78 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "GND" (shape passive) (at 180.34 180.34 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "229ab486-5473-425f-8f2f-0abca8797d94")
  )
  (global_label "3V3" (shape passive) (at 180.34 109.22 270) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "eeb4470c-a0b1-4f6c-ae7e-84d7433f45bc")
  )
  (global_label "EN" (shape passive) (at 165.1 114.3 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "047f99d3-8a46-4208-b6be-7eeab7db2d1d")
  )
  (global_label "FLEX1" (shape passive) (at 165.1 119.38 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "341ac436-1ff6-4c1f-9551-eb0e2a148fea")
  )
  (global_label "FLEX2" (shape passive) (at 165.1 121.92 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "5c1df0a2-b2f6-46f6-b321-13be4319657d")
  )
  (global_label "FLEX3" (shape passive) (at 195.58 170.18 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "186cff76-b5f5-42c4-b447-ad26c5dae919")
  )
  (global_label "FLEX4" (shape passive) (at 195.58 172.72 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "d763a2e2-4b7d-47e3-9291-cfb458dcb95b")
  )
  (global_label "FLEX5" (shape passive) (at 195.58 165.1 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "41f7b3f8-8c59-4712-9212-d9bbc4dc3f8b")
  )
  (global_label "GND" (shape passive) (at 180.34 180.34 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "f6349166-5fa8-4469-bd0b-90a3be04871d")
  )
  (global_label "STAT_LED" (shape passive) (at 195.58 119.38 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "d8d7a99f-ae2e-4fc7-8745-192b1a0b3c70")
  )
  (global_label "BOOT" (shape passive) (at 195.58 114.3 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "52e6ad74-0c97-4e9c-bd6c-64e4f3984c48")
  )
  (global_label "IMU_INT" (shape passive) (at 195.58 147.32 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "f6a82bc7-69f5-41c8-aa58-6a20dd397e38")
  )
  (global_label "SDA" (shape passive) (at 195.58 149.86 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "373a540b-c941-4dea-8afe-e11eb40436d0")
  )
  (global_label "UART_RX" (shape passive) (at 195.58 121.92 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "b20e2e0a-0387-4789-a9c8-5d262b380548")
  )
  (global_label "UART_TX" (shape passive) (at 195.58 116.84 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "1a11d87d-c50a-4874-9582-6d9f16835019")
  )
  (global_label "SCL" (shape passive) (at 195.58 152.4 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "86e81858-7046-4135-aa9f-9a9ac323a4b3")
  )
  (global_label "GND" (shape passive) (at 180.34 180.34 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "86c889fa-36f0-4680-9eb2-a60a6e71e3df")
  )
  (global_label "GND" (shape passive) (at 180.34 180.34 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "89915ad8-c3e7-4381-b716-807506569a5c")
  )
  (no_connect (at 195.58 167.64) (uuid "c99fca34-c186-4661-8a12-fecdb7386a89"))
  (no_connect (at 195.58 157.48) (uuid "5f253160-7b99-4d4b-9dc1-c62d254edfbb"))
  (no_connect (at 195.58 160.02) (uuid "fc0b2602-9acd-43e2-ade1-30512be73d51"))
  (no_connect (at 195.58 162.56) (uuid "82ea0912-d573-42ca-b2fb-74e3d9699a5e"))
  (no_connect (at 195.58 134.62) (uuid "031b67c3-eaa5-434f-a4c3-29188f365943"))
  (no_connect (at 195.58 129.54) (uuid "a3230b31-6830-4b78-9e89-33be32db61a1"))
  (no_connect (at 195.58 132.08) (uuid "e365dbf0-810f-41b2-b2c9-07278e7072ed"))
  (no_connect (at 195.58 137.16) (uuid "257f38cd-f362-4fb6-acf8-c90c47a4e9e6"))
  (no_connect (at 195.58 124.46) (uuid "74a2caf1-17c2-479b-a3e6-6f0773199939"))
  (no_connect (at 195.58 139.7) (uuid "4f86c38f-2c0a-4e56-8fa2-28ae01e14d41"))
  (no_connect (at 195.58 142.24) (uuid "0b9eee70-8158-49e3-b281-a9720e08b1ab"))
  (no_connect (at 195.58 127.0) (uuid "7b1ac6c8-0c6e-4005-bc58-c445629712ec"))
  (no_connect (at 195.58 144.78) (uuid "46238576-407a-4436-bcff-97d6f998aabc"))
  (no_connect (at 195.58 154.94) (uuid "f661761c-c921-4d92-acc0-7b6dadbf1bfc"))
  (text "4b) UART Program Header J4" (exclude_from_sim no) (at 229.87 110.49 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "90503299-273b-4d0e-9b84-bd5b6750384d")
  )
  (symbol (lib_id "Connector_Generic:Conn_01x04") (at 255.27 144.78 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "ba03f2ad-f5d9-4eba-901f-26a62d326f78")
    (property "Reference" "J4" (at 255.27 149.86 0) (effects (font (size 1.27 1.27))))
    (property "Value" "UART" (at 255.27 147.32 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Connector_PinHeader_2.54mm:PinHeader_1x04_P2.54mm_Vertical" (at 255.27 144.78 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 255.27 144.78 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 250.19 142.24 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "aa61d6d8-da78-40f6-bb47-4eaf08ee14e0")
  )
  (global_label "UART_TX" (shape passive) (at 250.19 144.78 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "32845caf-97c1-4f12-baaf-aaa7d588844c")
  )
  (global_label "UART_RX" (shape passive) (at 250.19 147.32 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "54c35b0e-e599-4ce8-8cce-62e24f4836dd")
  )
  (global_label "GND" (shape passive) (at 250.19 149.86 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "5c566ea7-7c00-4f5f-aa74-45b7f2292849")
  )
  (symbol (lib_id "Device:C") (at 229.87 119.38 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "6060fee9-22a4-4a6e-a391-a9c6aec1c709")
    (property "Reference" "C1" (at 229.87 124.46 0) (effects (font (size 1.27 1.27))))
    (property "Value" "100nF" (at 229.87 121.92 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0603_1608Metric" (at 229.87 119.38 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 229.87 119.38 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 229.87 115.57 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "82e5c505-e21f-45ab-bf03-675151158f05")
  )
  (symbol (lib_id "power:GND") (at 229.87 123.19 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "39823b35-4ec9-493d-bcb7-216af509f485")
    (property "Reference" "#PWR_C1" (at 229.87 125.73 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 229.87 120.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 229.87 123.19 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 229.87 123.19 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:C") (at 245.11 119.38 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "8e79f725-9cd1-426d-995a-2c4dbc2a0527")
    (property "Reference" "C2" (at 245.11 124.46 0) (effects (font (size 1.27 1.27))))
    (property "Value" "100nF" (at 245.11 121.92 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0603_1608Metric" (at 245.11 119.38 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 245.11 119.38 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 245.11 115.57 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "ecdb9397-7e30-4e5e-8d1b-1c5f7c7ca7f6")
  )
  (symbol (lib_id "power:GND") (at 245.11 123.19 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "0c615cb5-6693-4670-b48f-fd1f501940d5")
    (property "Reference" "#PWR_C2" (at 245.11 125.73 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 245.11 120.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 245.11 123.19 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 245.11 123.19 0) (effects (font (size 1.27 1.27)) hide))
  )
  (text "5) BOOT / EN / Status LEDs" (exclude_from_sim no) (at 25.4 175.26 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "0e4b12e5-6387-46fc-ac37-711a93095acd")
  )
  (symbol (lib_id "Device:R") (at 40.64 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "65f25ce2-5300-4dce-99ca-0f14bd71dc57")
    (property "Reference" "R9" (at 40.64 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 40.64 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 40.64 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 40.64 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 40.64 191.77 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "2f14ade7-8da1-4fd6-812e-36b231a3e098")
  )
  (global_label "EN" (shape passive) (at 40.64 199.39 270) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "e44ec332-902c-487c-ae45-406d4de1551d")
  )
  (symbol (lib_id "Device:R") (at 55.88 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "e74f1390-512f-418e-8ecb-38c701985e97")
    (property "Reference" "R10" (at 55.88 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 55.88 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 55.88 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 55.88 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 55.88 191.77 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "28bec05b-4d36-4249-8e32-5057b713f761")
  )
  (global_label "BOOT" (shape passive) (at 55.88 199.39 270) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "d63ec7a8-f4c2-465b-8824-1ec3f1de47f4")
  )
  (symbol (lib_id "Switch:SW_Push") (at 74.93 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "968ae4dd-30fc-405e-a53f-66d9d711c25c")
    (property "Reference" "SW2" (at 74.93 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "EN" (at 74.93 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Button_Switch_SMD:SW_SPST_B3U-1000P" (at 74.93 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 74.93 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "EN" (shape passive) (at 69.85 195.58 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "8d388c61-f165-4a4e-9cb9-c203d42aa16e")
  )
  (symbol (lib_id "power:GND") (at 80.01 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "b7714368-8ac9-41ca-8d34-eb8b5731a63b")
    (property "Reference" "#PWR_SW2" (at 80.01 198.12 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 80.01 193.04 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 80.01 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 80.01 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Switch:SW_Push") (at 100.33 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "540e3e14-7118-4d36-9c5f-b6d0c165fd96")
    (property "Reference" "SW1" (at 100.33 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "BOOT" (at 100.33 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Button_Switch_SMD:SW_SPST_B3U-1000P" (at 100.33 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 100.33 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "BOOT" (shape passive) (at 95.25 195.58 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "9b14751d-88f3-4d13-843e-33ee83510c60")
  )
  (symbol (lib_id "power:GND") (at 105.41 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "d13e9382-759b-471d-8c97-db657d012801")
    (property "Reference" "#PWR_SW1" (at 105.41 198.12 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 105.41 193.04 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 105.41 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 105.41 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:R") (at 124.46 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "7c8f325b-1664-45d0-b260-a82b5895b55c")
    (property "Reference" "R5" (at 124.46 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "1k" (at 124.46 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 124.46 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 124.46 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 124.46 191.77 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "be0fe3ca-3e80-422e-b761-6397af1c52cc")
  )
  (global_label "PWR_LED" (shape passive) (at 124.46 199.39 270) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "b1345135-df49-4a96-8c16-d5325b8c26ba")
  )
  (symbol (lib_id "Device:LED") (at 144.78 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "b481c3d1-742b-4f41-92a7-26e1db5ad975")
    (property "Reference" "D1" (at 144.78 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "LED-PWR" (at 144.78 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "LED_SMD:LED_0603_1608Metric" (at 144.78 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 144.78 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "GND" (shape passive) (at 140.97 195.58 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "46fc0d27-8507-4330-a82b-77458db71c2c")
  )
  (global_label "PWR_LED" (shape passive) (at 148.59 195.58 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "3e8f4bce-3124-449f-9fe9-32059c5bfcf3")
  )
  (symbol (lib_id "Device:LED") (at 165.1 195.58 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "5ed71925-7c8d-4062-9837-a0fe4ad16973")
    (property "Reference" "D3" (at 165.1 200.66 0) (effects (font (size 1.27 1.27))))
    (property "Value" "LED-STAT" (at 165.1 198.12 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "LED_SMD:LED_0603_1608Metric" (at 165.1 195.58 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 165.1 195.58 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "GND" (shape passive) (at 161.29 195.58 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "7af241a8-1a6a-4122-9e10-b6a896650fde")
  )
  (global_label "STAT_LED" (shape passive) (at 168.91 195.58 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "f44eaf81-e966-4be5-b44c-03d9c5b53f87")
  )
  (text "6) Flex Sensor Header + Dividers (5×)" (exclude_from_sim no) (at 25.4 219.71 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "361d8faf-dcea-49f6-94ca-69210000afbc")
  )
  (symbol (lib_id "Connector_Generic:Conn_01x07") (at 50.8 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "6d714250-2445-4038-bfa0-437dd5dfb41e")
    (property "Reference" "J2" (at 50.8 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "FLEX" (at 50.8 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Connector_PinHeader_2.54mm:PinHeader_1x07_P2.54mm_Vertical" (at 50.8 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 50.8 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 45.72 237.49 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "9f93095b-48af-4719-b311-3cd279b8cbdf")
  )
  (global_label "FLEX1" (shape passive) (at 45.72 240.03 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "67c5db9d-9c48-4cdc-a4c2-72c0b5cab38f")
  )
  (global_label "FLEX2" (shape passive) (at 45.72 242.57 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "be5732d3-637e-40e7-b348-25da7116866e")
  )
  (global_label "FLEX3" (shape passive) (at 45.72 245.11 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "c38ecec3-d9d2-485e-a979-e28f9a9d38b9")
  )
  (global_label "FLEX4" (shape passive) (at 45.72 247.65 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "27f62b8e-9c67-4b31-85e3-7d21a3815dd9")
  )
  (global_label "FLEX5" (shape passive) (at 45.72 250.19 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "1e293ba8-1fe6-4388-bdcf-b99fb31efbbc")
  )
  (global_label "GND" (shape passive) (at 45.72 252.73 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "f62cf0e1-9a09-4ca1-91d6-76b309c583e2")
  )
  (symbol (lib_id "Device:R") (at 80.01 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "286f7e10-d994-4d7b-9ae0-f7cc34f6a7df")
    (property "Reference" "R1" (at 80.01 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 80.01 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 80.01 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 80.01 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "FLEX1" (shape passive) (at 80.01 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "568f3554-0a8a-4e44-88ae-ff442d83178f")
  )
  (symbol (lib_id "power:GND") (at 80.01 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "b09ac1de-383d-48c8-bc4a-5e5c2eefe552")
    (property "Reference" "#PWR_R1" (at 80.01 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 80.01 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 80.01 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 80.01 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:R") (at 95.25 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "e8776a74-0330-4fa6-ab28-31ff16dbf592")
    (property "Reference" "R2" (at 95.25 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 95.25 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 95.25 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 95.25 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "FLEX2" (shape passive) (at 95.25 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "d7d9fe5d-120d-4213-b3fd-cd42edcd06ed")
  )
  (symbol (lib_id "power:GND") (at 95.25 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "e3c7812c-2587-46e3-86f4-d85ce6bc94ee")
    (property "Reference" "#PWR_R2" (at 95.25 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 95.25 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 95.25 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 95.25 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:R") (at 110.49 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "af479bfb-ceed-41d6-b5d6-82c73f8e07a0")
    (property "Reference" "R3" (at 110.49 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 110.49 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 110.49 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 110.49 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "FLEX3" (shape passive) (at 110.49 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "a56c1887-3dab-4e03-9839-3d434438b1fb")
  )
  (symbol (lib_id "power:GND") (at 110.49 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "1ced8606-31e7-4956-bf15-3497444cf66b")
    (property "Reference" "#PWR_R3" (at 110.49 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 110.49 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 110.49 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 110.49 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:R") (at 125.73 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "3bdfb53a-602b-4245-8f3a-851055a8f4ca")
    (property "Reference" "R4" (at 125.73 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 125.73 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 125.73 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 125.73 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "FLEX4" (shape passive) (at 125.73 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "e3d54fa3-3d5e-4e23-a620-cc34e2337ebb")
  )
  (symbol (lib_id "power:GND") (at 125.73 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "5fc58f16-5afa-4320-bd6b-7ff007c21e9f")
    (property "Reference" "#PWR_R4" (at 125.73 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 125.73 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 125.73 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 125.73 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:R") (at 140.97 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "58013bc0-f47d-4eae-bdf6-6dd9d5efc69e")
    (property "Reference" "R11" (at 140.97 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "10k" (at 140.97 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Resistor_SMD:R_0603_1608Metric" (at 140.97 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 140.97 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "FLEX5" (shape passive) (at 140.97 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "36d6ba79-2ba0-4055-94ed-d52569b5ff68")
  )
  (symbol (lib_id "power:GND") (at 140.97 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "66b94c47-224b-4426-b900-00e92420dc52")
    (property "Reference" "#PWR_R11" (at 140.97 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 140.97 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 140.97 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 140.97 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (text "7) IMU MPU-6050" (exclude_from_sim no) (at 160.02 219.71 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "407dfc5d-49ea-4c5e-bf60-435834ecbdfb")
  )
  (symbol (lib_id "Sensor_Motion:MPU-6050") (at 209.55 250.19 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "984fdd6f-6329-4794-9482-21d49512d7cf")
    (property "Reference" "U4" (at 209.55 255.27 0) (effects (font (size 1.27 1.27))))
    (property "Value" "MPU-6050" (at 209.55 252.73 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Sensor_Motion:InvenSense_QFN-24_4x4mm_P0.5mm" (at 209.55 250.19 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 209.55 250.19 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 207.01 232.41 270) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "8b6f07b5-d4a2-4c0e-b29c-ac44c1c21ffb")
  )
  (global_label "GND" (shape passive) (at 191.77 247.65 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "2d9e099a-0c22-4f28-9c49-6e06d7b0e155")
  )
  (global_label "REGOUT" (shape passive) (at 227.33 257.81 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "7bee96ca-efdf-4806-8503-f57c9d6b4dfa")
  )
  (global_label "IMU_INT" (shape passive) (at 227.33 242.57 180) (effects (font (size 1.27 1.27)) (justify right))
    (uuid "a2276f17-85d0-4400-b7e8-90c2d7c2b69b")
  )
  (global_label "3V3" (shape passive) (at 212.09 232.41 270) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "ea2c83a2-786f-4703-9bcd-6638a76e0b60")
  )
  (global_label "GND" (shape passive) (at 209.55 267.97 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "b3603f50-ee38-44a1-b6d8-6656f14c31ee")
  )
  (global_label "SCL" (shape passive) (at 191.77 245.11 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "707c387f-b3b2-4ba6-91b4-a434574028a5")
  )
  (global_label "SDA" (shape passive) (at 191.77 242.57 0) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "4d73aedb-7b11-4d77-9432-ac126053306e")
  )
  (no_connect (at 191.77 257.81) (uuid "9128e5b1-11c0-4bb2-8678-ccba1c7c79e7"))
  (no_connect (at 227.33 247.65) (uuid "4f363dcb-6554-4578-8382-bbdf25bbad49"))
  (no_connect (at 227.33 250.19) (uuid "03f02444-7edb-494a-9f6a-8f3cb97f45ae"))
  (no_connect (at 191.77 255.27) (uuid "d80dbeca-e829-46e0-a47a-da91f59217d1"))
  (no_connect (at 227.33 255.27) (uuid "f22b60f9-be80-470d-9650-50ca77ec03b4"))
  (symbol (lib_id "Device:C") (at 255.27 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "c6493cda-c541-419f-ab6a-48b278a10199")
    (property "Reference" "C10" (at 255.27 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "2.2uF" (at 255.27 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0603_1608Metric" (at 255.27 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 255.27 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "REGOUT" (shape passive) (at 255.27 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "5f23c05d-ddd3-4b94-8bd8-80dad17c0b8c")
  )
  (symbol (lib_id "power:GND") (at 255.27 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "cd76c236-2c7d-4d19-98b0-467d7ca1f6df")
    (property "Reference" "#PWR_C10" (at 255.27 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 255.27 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 255.27 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 255.27 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "Device:C") (at 270.51 245.11 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "07be2245-755c-491b-a62f-43ce33bd1850")
    (property "Reference" "C9" (at 270.51 250.19 0) (effects (font (size 1.27 1.27))))
    (property "Value" "100nF" (at 270.51 247.65 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "Capacitor_SMD:C_0603_1608Metric" (at 270.51 245.11 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 270.51 245.11 0) (effects (font (size 1.27 1.27)) hide))
  )
  (global_label "3V3" (shape passive) (at 270.51 241.3 90) (effects (font (size 1.27 1.27)) (justify left))
    (uuid "018d3e0a-d732-4379-87ff-1db22f5cec60")
  )
  (symbol (lib_id "power:GND") (at 270.51 248.92 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "8e3825d1-1d3b-4bcb-b722-49cfa0e57172")
    (property "Reference" "#PWR_C9" (at 270.51 251.46 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 270.51 246.38 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 270.51 248.92 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 270.51 248.92 0) (effects (font (size 1.27 1.27)) hide))
  )
  (text "Power flags (ERC)" (exclude_from_sim no) (at 25.4 279.4 0) (effects (font (size 1.8 1.8)) (justify left))
    (uuid "72648c8b-87e7-4815-99f0-da16a6decce0")
  )
  (symbol (lib_id "power:+5V") (at 40.64 289.56 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "8187133c-9c1a-4475-bf91-10d0dc2ea99d")
    (property "Reference" "#PWR5V" (at 40.64 292.1 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "+5V" (at 40.64 287.02 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 40.64 289.56 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 40.64 289.56 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "power:PWR_FLAG") (at 48.26 289.56 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "c20ed480-47d0-4f45-9132-1c2595b0a77b")
    (property "Reference" "#FLG5V" (at 48.26 292.1 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "PWR_FLAG" (at 48.26 287.02 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 48.26 289.56 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 48.26 289.56 0) (effects (font (size 1.27 1.27)) hide))
  )
  (wire (pts (xy 40.64 289.56) (xy 48.26 289.56)) (stroke (width 0) (type default)) (uuid "39ec2f5b-b8b3-47c4-a2d2-24b07d34126d"))
  (symbol (lib_id "power:GND") (at 69.85 289.56 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "338a4642-1307-4d14-b3cc-b7ac90c61c8e")
    (property "Reference" "#PWRGND" (at 69.85 292.1 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "GND" (at 69.85 287.02 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 69.85 289.56 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 69.85 289.56 0) (effects (font (size 1.27 1.27)) hide))
  )
  (symbol (lib_id "power:PWR_FLAG") (at 77.47 289.56 0) (unit 1) (in_bom yes) (on_board yes) (dnp no) (uuid "8debbe7f-3d28-4624-8c7e-fd37eb3489f1")
    (property "Reference" "#FLGGND" (at 77.47 292.1 0) (effects (font (size 1.27 1.27)) hide))
    (property "Value" "PWR_FLAG" (at 77.47 287.02 0) (effects (font (size 1.27 1.27))))
    (property "Footprint" "" (at 77.47 289.56 0) (effects (font (size 1.27 1.27)) hide))
    (property "Datasheet" "" (at 77.47 289.56 0) (effects (font (size 1.27 1.27)) hide))
  )
  (wire (pts (xy 69.85 289.56) (xy 77.47 289.56)) (stroke (width 0) (type default)) (uuid "966f7beb-4da9-48e4-aecc-619ba862ed8b"))

  (sheet_instances
    (path "/" (page "1"))
  )
)
